[Unit]
Description=Bakaloo backend docker compose stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/bakaloo/app
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose --env-file deploy/production/infra.env -f docker-compose.prod.yml up -d
ExecStop=/usr/bin/docker compose --env-file deploy/production/infra.env -f docker-compose.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
